/*--------------------------------------------------------------
# Carousel Section
--------------------------------------------------------------*/
.carousel-container {
  max-width: 100%;
  margin-top: 100px;
  position: relative;
}

.carousel-inner img {
  max-height: 600px;
  object-fit: cover; 
}

.carousel-overlay {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  font-size:large;
  font-weight: 900;
  z-index: 10;
}

.carousel-overlay .logo {
  width: 100px; /* Adjust as needed */
  margin-bottom: 20px;
}

.carousel-indicators button {
  width: 30px;
  height: 12px;
  background-color: white;
  border-radius: 60%; /* Makes the indicator circular */
  border: none;
}

.carousel-indicators .active {
  background-color: #afb3b844; 
}

@media (max-width: 578px) {
  .carousel-container {
      max-width: 100%;
      padding: 0 15px;
  }
  .carousel-inner img {
      max-height: 250px; 
  }
  .carousel-overlay {
    position: absolute;
    top: 20%;
    left: 5%;
    color: white;
    font-size:small;
    font-weight: 500;
    z-index: 10;
  }
}
